.form{
    color: white;
    margin: 0px 70px;
}

.form input{
    background: none;
    color: wheat;
    text-decoration: none;
    border-radius: 10px;
    font-size: larger;
    height: 45px;
    width: 100%;
    border: 2px solid wheat;
    margin-top: 5px;

}

.form .question{
    color: wheat;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    
}

.form .submit-btn{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.form .submit-btn button {
    height: 50px;
    width: 350px;
    color: black;
    border: 3px solid wheat;
    border-radius: 30px;
    background-color: green;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.form .submit-btn button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px white;
}


