
body{
    background: #000;
    min-height:100vh;

}
.onetime-name {

    font-size: 25px;
    color: wheat;
}
#name {
    display: block;
    margin: 4px 0px;
    height: 30px;
    width: 250px;
    
}
.onetime-email {

    font-size: 25px;
    color: wheat;
}
#email {
    display: block;
    margin: 4px 0px;
    height: 30px;
    width: 250px;
    
}
.onetime-contact {

    font-size: 25px;
    color: wheat;
}
#contact {
    display: block;
    margin: 4px 0px;
    height: 30px;
    width: 250px;
    
}
.onetime-city {

    font-size: 25px;
    color: wheat;
}
#city {
    display: block;
    margin: 4px 0px;
    height: 30px;
    width: 250px;
    
}
.onetime-dob {

    font-size: 25px;
    color: wheat;
}
#dob {
    display: block;
    margin: 4px 0px;
    height: 30px;
    width: 250px;
    
}
.onetime-age {

    font-size: 25px;
    color: wheat;
}
#age {
    display: block;
    margin: 4px 0px;
    height: 30px;
    width: 250px;
    
}
.onetime-profession {

    font-size: 25px;
    color: wheat;
}
#profession {
    display: block;
    margin: 4px 0px;
    height: 30px;
    width: 250px;
    
}