.signup-container {
    background: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    background: rgb(24, 24, 24);
    width: 450px;
    height: 450px;
    border-radius: 30px;
    border: 3px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 3px 20px white;
    border: 3px solid wheat;
}

.signup-email {

    font-size: 25px;
    color: wheat;
}

.signup-password {

    font-size: 25px;
    color: wheat;
}

#email {
    display: block;
    height: 30px;
    width: 250px;
}

#password {
    display: block;

    height: 30px;
    width: 250px;
}

.name {
    display: block;
    font-size: 25px;
    color: wheat;
    text-shadow: 3px 3px 2px rgb(153, 107, 21);

}

#name {

    height: 30px;
    width: 250px;
}
.signup-btn {
    margin: 40px;
    height: 50px;
    width: 350px;
    color: black;
    border: 3px solid wheat;
    border-radius: 30px;
    background-color: green;
    font-size: 20px;
}
.signup-btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px white;
}


input:hover{
    box-shadow: 3px 3px 2px white;
    border: 3px solid rgb(0, 0, 0);

}